body {
    padding: 10px;
}

.signed_in {
    margin: -30px 0 auto auto;
    padding:0 5px 0 5px;
    background-color: rgb(69, 69, 69);
    font-size: x-small;
    color: white;
    width: fit-content;    
    border-radius: 9px;
    text-align: center;
}

.container {
    padding-left: 20px;
    margin-top: 20px;

}
.header {
    color:rgb(96, 96, 96);
    font-size: 24px;
    margin-left:15px;
}

#listing-title {
    padding-left: 35px;
}

.nav-link {
    font-size: medium;
    margin-top: 15px;
}

.nav-link:hover {
    font-size:medium;
    color:rgb(127, 127, 127);
    text-decoration: underline 3px ;
    text-underline-offset: 0.5em;
    text-decoration-color: rgb(77, 144, 252);
}

.listing {
    border: none;
    padding: 10px;
    border-radius: 5px;
    max-width: 1000px;
    margin:10px;
}

/* .listing:hover {
    border:solid 1px;
    border-color: rgb(211, 211, 211);
} */

form {
    margin:30px;
}

.nav-row {
    list-style: none;
    margin:10px;
}

#comments-title {
    margin:20px;
    padding:20px;
}

.comments {
    list-style:disc;
    /* background-color: rgb(134, 134, 134); */
    max-width: 1000px;
    margin-left: 40px;
    color:rgb(35, 35, 35);
}


.comment_user {

    padding:0 5px 0 5px;
    background-color: rgb(122, 122, 122);
    font-size: x-small;
    color: white;
    width: fit-content;    
    border-radius: 9px;
    text-align: center;
}

.watchlist-button {

    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 3px 5px;
    margin: 0 0 0 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 9px;
    text-align: center;
}

.img-border {
    height:200px;
    width: 200px;
    border-color: #ececec;
}

.img-thumbnail {
    padding:0px;
    border: none;
}

.img-thumbnail:hover {
    border:1px solid #dee2e6;
}