{% extends "auctions/layout.html" %}

{% block body %}

    <div class="col">

        <h2 class="col header">Active Listings</h2>
        
        <ul style="list-style:none;">
            {% if listings %}
            
            {% for listing in listings %}
            
            <div class="card listing" >
                <li >
                
                    <h4>
                        <a href="{% url 'auctions:id' listing.id %}">
                            {{ listing.title }}
                        </a>
                    </h4>
                    
                    <ul>
                        <h6>
                            by:
                            <span style="font-weight: normal; color:gray;">
                                {{ listing.user }}
                            </span>
                        </h6>

                        {% if listing.image_url %}

                            <div class="img-border">

                                <img class="img-thumbnail"style="display:inline-block; height:100%; width:100%;object-fit: contain;"src= "{{ listing.image_url.url }}" >
                            </div>
                        {% endif %}
                        <div style="display:inline-block; position:relative;">

                            <h5>
                                <span>
                                    ${{ listing.price }}
                                </span>
                            </h5>
                            <h6>
                                Description: 
                                <span style="font-weight: normal; color:gray;">
                                    {{ listing.details }}
                                </span>
                            </h6>
                            <h6>
                                Category: 
                                <span style="font-weight: normal; color:gray;">
                                    {{ listing.category }}
                                </span>
                            </h6>
                        </div>
                    </ul>
                    
                </li>
            </div>
            <hr>
                {% endfor %}
            
            {% else %}
            
            Currently no active listings
            
            {% endif %}
        </ul>
    </div>

{% endblock %}                