{% extends "auctions/layout.html" %}

{% block body %}

    <div class="col">

        <h2 class="col header">Active Listings</h2>
        
        <ul style="list-style:none;">
            {% if listings %}
            
            {% for listing in listings %}
            
            <div class="card listing" >
                <!-- <li > -->
                
                    <h4 class="string">
                        <a class="string" href="{% url 'auctions:id' listing.id %}">
                            {{ listing.title }}
                        </a>
                    </h4>
                    
                    <!-- <ul> -->
                        <h6>
                            Owner:
                            <span style="font-weight: normal; color:gray;">
                                {{ listing.user }}
                            </span>
                        </h6>

                        
                        <div class="img-border">
                                {% if listing.image_url %}

                                <img class="img-thumbnail"style="display:inline-block; height:100%; width:100%;object-fit: contain;"src= "{{ listing.image_url.url }}" >
                                {% else %}
                                
                                <img class="img-thumbnail"style="display:inline-block; height:100%; width:100%;object-fit: contain;"src= "https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg" >

                                {% endif %}
                            </div>
                            <div style="display:inline;position:absolute;left:14em;bottom:1em;">
                                
                                <h6>
                                    <span>
                                        Price: ${{ listing.price }}
                                    </span>
                                </h6>
                                <h6>
                                    Description: 
                                    <span style="font-weight: normal; color:gray;">
                                        {{ listing.details }}
                                    </span>
                                </h6>
                                <h6 class="string">
                                    <span style="font-weight: normal; color:gray;font-size:smaller">
                                        {{ listing.category }}
                                    </span>
                                </h6>
                        </div>
                    <!-- </ul> -->
                    
                <!-- </li> -->
            </div>
            <hr>
            {% endfor %}
            
            {% else %}
            
            Currently no active listings
            
            {% endif %}
        </ul>
    </div>

{% endblock %}                