{% extends "auctions/layout.html" %}

{% block body %}

<div class="col">
    <div class="col">

        
        {% if listing %}
        
        {% if error %}
        {{ error }}
        {% endif %}
        
        <h2 class="header" > 
            {{ listing.title }} 
                <!-- watchlist button -->

                <form style="margin:0px; display:inline-block; position:relative; top:-5px; left:15px;" action="{% url 'auctions:watchlist' listing.id %}">
                    <button class="watchlist-button" type="submit" >
                        {% if listing in watchlist.listings.all %}
                            <a>
                                Unwatch
                            </a>
                            {% else %}
                            <a>
                                Watch
                            </a>
                        {% endif %}
                    </button>
                </form>
                


        </h2>
        
        <div class="col"> 
            
            <ul  >
                <h6>
                    by:
                    <span style="font-weight: normal; color:gray;">
                        {{ listing.user }}
                    </span>
                </h6>
                {% if listing.image_url %}
                    <img class="card-img-left"style="margin:-7px 0 25px 0;max-width:100px;"src= "{{ listing.image_url.url }}" >
                {% endif %}
                <h4>
                    <span>
                        ${{ listing.price }}
                    </span>
                </h4>
                <h6>
                    Description: 
                    <span style="font-weight: normal; color:gray;">
                        {{ listing.details }}
                    </span>
                </h6>
                <h6>
                    Category: 
                    <span style="font-weight: normal; color:gray;">
                        {{ listing.category }}
                    </span>
                </h6>
            </ul>
        </div>
    </div>

    

    {% if user.is_authenticated %}
    
    
    <div class="">
    
        {% if listing.winner %}
        <div style="padding-left:50px;" class="col">

            This auction is closed. 
            
            {% if listing.winner == request.user %}
            Congratulations! You are the winner!
            {% endif %}
            
            {% if listing.user == request.user %}
            
            The winner is: {{ listing.winner }}    
            {% endif %}
        </div>
            {% else %}
            <!-- New bid form -->
            <form method="POST" action="{% url 'auctions:id' listing.id %}">
                {% csrf_token %}
                {{ NewBidForm}}
                <button class="btn btn-outline-primary" type="submit">
                    Place Bid
                </button>
            </form>
            
            
            {% if listing.user == user %}
            
            <form action="{% url 'auctions:close_listing' listing.id %}">
                <button class="btn btn-outline-primary" type="submit">
                    Close Listing
                </button>
            </form>
            {% endif %}
    </div>
    
        <hr>
        <h3 class="header" id="comments-title">
            Comments:
        </h3>
        {% if comments %}
        {% for comment in comments %}
        <ul class="comments">
            <li>
                {{ comment }}
                
                <div class="comment_user">
                    by: {{comment.user}}
                </div>
                
            </li>
        </ul>
        {% endfor %}
        {% else %}
        <div class="col">
            No comments.
        </div>
        {% endif %}

    <form method="POST" action="{% url 'auctions:new_comment' listing.id %}">
        {% csrf_token %}
        {% for field in NewCommentForm %}

        {{ NewCommentForm}}

        {% endfor %}
        <button class="btn btn-outline-primary" type="submit" >
            Leave Comment
        </button>
    </form>
    {% endif %}
    
    {% endif %}
    {% else %}
    
    No listing matches this search
    {% endif %}
</div>
    {% endblock %}